---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { Card, Pagination } from 'accessible-astro-components'
import { Image } from 'astro:assets'
import posts from '../../data/posts.json'



export async function getStaticPaths({ paginate }) {
  return paginate(posts, { pageSize: 0 })
}

const { page } = Astro.props
---

<DefaultLayout
  title="Tutors"
  description="Tutors"
>
  <section class="my-12">
    <div class="space-content container">
      <h1>Tutors</h1>
      <p class="text-2xl">
 
      </p>
    </div>
  </section>
  <section class="my-24">
    <div class="container">
      
      <ul class="my-9">
       

       
            <li>
              <Card title="Ashiful Bhuiyan" url='/tutors/ashiful' img='/assets/Ashiful.jpg'
              footer={"Trent U: B. Sc Honours in Mathematical Physics"}
              >
                Student at York U
              </Card>
              
            </li>

            <li>
              <Card title="Mayzar Husaini" url='/tutors/mayzar' img="/assets/MayzarTrim.jpg"
              footer={" Ontario Tech University: B. Eng H. "}
              >
              Energy Management and AeroThermal Engineer @ Stellantis
              

              </Card>
              
            </li>
            <li>
              <Card title="Sami Husaini" url='/tutors/sami' img='/assets/Sami%20Trim.jpg'
              footer={"UofT: Honours B. Sc. Double major in Chemistry and Biology"}
              >
                M Sc. Biological Chemistry student UofT
              </Card>
            </li>

            <li>
              <Card title="Malik White" url='/tutors/malik' img='/assets/placeholder_tutor.png'
              footer={"UofT: B. Sc Honours Neuroscience & Human Biology"}
              >
                M. Sc. Neuroscience student UofT for Laboratory Medicine and Pathobiology
              </Card>
            </li>

            <li>
              <Card title="Zeeshan Ahmed" url='/tutors/zeeshan' img='/assets/zeeshan.jpg'
              footer={"Shadan Institute of Medical Science"}
              >
               MD. ECFMG Certified Doctor
            </Card>
            </li>

         
        
      </ul>

    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
