---
import NoFooter from '../layouts/NoFooterLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import { Icon } from 'astro-icon/components'


const currentYear = new Date().getFullYear()
const { src = '/astronaut-hero-img.webp' } = Astro.props
const monthsPassed = new Date().getFullYear() * 12 + new Date().getMonth() - (2024 * 12 + 8);
const formURL = import.meta.env.FORMS_URL;
---
<NoFooter title="Contact Us" description="Contact Us">

  <ContentMedia imgSrc="/assets/image2.png">
    <h1 id="form">Contact Us</h1>
    <iframe name="responseIframe" style="display:none;"></iframe> 
<!-- target="responseIframe" id="contactForm" -->
    <form action={formURL} method="POST" target="responseIframe" id="contactForm">
     
      <label>
        <p class="text-2xl">Name: </p>
        <input type="text" name="name" required />
      </label>
    
     
      <label>
        <p class="text-2xl">Email: </p>
        <input type="email" name="email" required />
      </label>
    
      
      <label>
        <p class="text-2xl">Telephone: </p>
        <input type="tel" name="telephone" required />
      </label>
    
      
      <label>
        <p class="text-2xl">Grade: </p>
        <input type="text" name="grade" />
      </label>
    
    
      <label>
        <p class="text-2xl">Subject: </p>
        <input type="text" name="subject" />
      </label>
    
      
      <label>
        <p class="text-2xl">Additional Info: </p>
        
          <textarea name="info" rows="4" cols="50"></textarea>
        
      
      </label>
      <button class="submit-button" type="submit">Submit</button>
    </form>
    
    <p id="thankYouMessage" style="display:none; color:green;">Thanks for contacting us! We will be in touch with you shortly.</p>
  
</ContentMedia>

<ContentMedia imgSrc="/accessible-components.webp" reverseImg={true}>
    <h1>Contact directly via</h1>
    <p class="text-2xl">
      telephone: <a href="tel:647-628-5591"> 647-628-5591</a> <br>
       email: <a href="mailto:tutoring@giftedcenter.org">tutoring@giftedcenter.org</a> <br> or simply sumbit a <a href=#form>form </a> below and we will get back to you as soon as possible.</p>
  </div>
  </ContentMedia>

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
         <slot><span class="text-gradient">  <a href=/contacttest>Gifted Center</a></span>  of Tutoring </slot>
        </h1>

      </div>
      <img class="hidden lg:block" src={src} alt="" decoding="async" />
    </div>
  </div>
</section>

</NoFooter>
<section class="py-8">
  <div class="container">
    <p>
      &copy; {currentYear} -  <a href="https://giftedcenter.org/"> Gifted Center</a>. <a href="https://github.com/giftedcenter/astro-page">Github </a>
    </p>
  </div>
</section>


<script>

  document.getElementById('contactForm').onsubmit = function(event) {
    // Show the thank-you message
    document.getElementById('thankYouMessage').style.display = 'block';
    
    // Disable the form elements after a short delay
    var formElements = this.elements;
    setTimeout(function() {
      for (var i = 0; i < formElements.length; i++) {
        formElements[i].disabled = true; // Disable textboxes and the submit button
      }
    }, 100); // Adjust the delay as needed (100 milliseconds in this example)
    
    // Allow the form to submit
  };
  </script>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  input {
    background-color: #f9f9f9;
    color: hsl(210 10% 14%);
    box-sizing: border-box;
    border: 2px solid hsl(210 10% 14%); /* Initial black border */
    padding: 8px;
    outline: none; /* Remove default focus outline */
}

input:focus {
    border: 1px solid transparent; /* Make the border transparent to show gradient */
    background-image: linear-gradient(#ffffff, #ffffff), /* Keep the background color */
                      linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-origin: border-box;
    background-clip: padding-box, border-box; /* Clip the gradient to the border area */
    outline: none; /* Remove default focus outline */
}

textarea {
  background-color: #f9f9f9;
  color: hsl(210 10% 14%);
  box-sizing: border-box;
  border: 3px solid #000000;
  padding: 8px;
  outline: none;
  transition: border 0.3s ease-in-out;
  width: 100%; /* Makes it take full width of the container */
  resize: vertical; /* Allows users to resize vertically only */
}

textarea:focus {
  border: 3px solid transparent;
  background-image: linear-gradient(#ffffff, #ffffff), /* Keep the background color */
                    linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}


.submit-button {
  transition-duration: 0.4s;
}

.submit-button:hover {
  background-color: var(--primary-400); /* Changes background color on hover */
  color: white;
}


:global(.darkmode .submit-button:hover) {
  background-color: var(--secondary-300); /* Lighter color on hover in dark mode */
  color: white;
}
</style>



