---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
const monthsPassed = new Date().getFullYear() * 12 + new Date().getMonth() - (2024 * 12 + 8);

---
<DefaultLayout title="Tutoring" description="The Gifted Tutoring Center">
  
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Unlock your potential</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-2">
        <Feature icon="mdi:school" title="">
          <a href=/college style="text-decoration:none"><h3> College </h3> </a> Our tutoring services support college students in vocational and technical programs. With a focus on applied sciences, business, technology, and trades to help students develop both practical and theoretical skills for the workforce or further studies.
        </Feature>

        <Feature icon="mdi:book-open-page-variant" title="">
          <a href=/university style="text-decoration:none"><h3>University</h3></a>
          Our university tutoring is heavily specialized, offering 1-on-1 instruction tailored to specific courses and fields of study. Work directly with experts who provide in-depth guidance, ensuring you excel in your academic journey and achieve your goals.


        </Feature>

       
        <Feature icon="mdi:tailwind"  title="">
          <a href=/primary-school style="text-decoration:none"><h3>Primary School</h3></a>
          Unlock your child’s early potential with tailored lessons designed to challenge and engage young gifted minds. Our primary tutors focus on building strong foundations while fostering creativity and intellectual curiosity.        </Feature>
 
        <Feature icon="mdi:looks" title="">
          <a href=/secondary-school style="text-decoration:none"><h3>Secondary School</h3></a>
          Unlock your child’s full potential with advanced instruction tailored to both junior and senior secondary students. For junior learners, we focus on critical thinking, academic growth, and preparation for the challenges ahead. Senior students receive expert pre-university guidance, including exam preparation, competitive applications, and readiness for higher education.
        </Feature>

         


      </div>
    </div>
  </section>

  <ContentMedia imgSrc="/assets/image1.png" reverseImg={true}>
    <h2>Prestigious Tutors</h2>
    <p class="text-2xl">
      At Gifted Center, our tutors are distinguished professionals with a proven track record of academic excellence. 
      Each tutor brings years of expertise in their respective fields, along with a passion for teaching and personalized support. 
      Whether you’re looking to excel in a particular subject or enhance your overall academic performance, our prestigious tutors are dedicated to helping you reach your full potential
   </p>
  </ContentMedia>

  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={false}>
    <h2>Experts in respective Fields</h2>
    <p class="text-2xl">
      Each of our tutors is not only an expert in their respective fields but also has a deep understanding of how to nurture the potential of highly capable students.
      Through personalized teaching strategies, our prestigious tutors help students excel in their studies, while encouraging creativity, critical thinking, and a love for learning. Whether your child is preparing for competitive academic programs or simply seeking a more challenging curriculum, our tutors provide the guidance and support needed to thrive. 

    </p>
  </ContentMedia>

  <section class="mb-32 mt-64">
    <div class="container">
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4 text-center">
        <div class="social-item">
          <a href="https://facebook.com/giftedtutoring" target="_blank" aria-label="Facebook">
            <i class="fab fa-facebook fa-3x"></i>
            <p class="text-4xl font-semibold">Facebook</p>
          </a>
        </div>
        
        <div class="social-item">
          <a href="https://twitter.com/giftedtutoring" target="_blank" aria-label="Twitter">
            <i class="fab fa-twitter fa-3x"></i>
            <p class="text-4xl font-semibold">Twitter</p>
          </a>
        </div>
        
        <div class="social-item">
          <a href="https://instagram.com/giftedtutor" target="_blank" aria-label="Instagram">
            <i class="fab fa-instagram fa-3x"></i>
            <p class="text-4xl font-semibold">Instagram</p>
          </a>
        </div>
        
        <div class="social-item">
          <a href="https://tiktok.com/@giftedtutoringcenter" target="_blank" aria-label="Tiktok">
            <i class="fab fa-tiktok fa-3x"></i>
            <p class="text-4xl font-semibold">Tiktok</p>
          </a>
        </div>
      </div>
    </div>
  </section>

  <h1 id="contact"> </h1>
</DefaultLayout>

