---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
const monthsPassed = new Date().getFullYear() * 12 + new Date().getMonth() - (2024 * 12 + 8);

---
<DefaultLayout title="Tutoring">
  
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Unlock your potential</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind"  title="">
          <a href=/primary-school style="text-decoration:none"><h3>Primary School</h3></a>
          Unlock your child’s early potential with tailored lessons designed to challenge and engage young gifted minds. Our primary tutors focus on building strong foundations while fostering creativity and intellectual curiosity.        </Feature>
 
        <Feature icon="mdi:looks" title="">
          <a href=/college style="text-decoration:none"><h3>Secondary School</h3></a>
          Unlock your child’s full potential with advanced instruction tailored to both junior and senior secondary students. For junior learners, we focus on critical thinking, academic growth, and preparation for the challenges ahead. Senior students receive expert pre-university guidance, including exam preparation, competitive applications, and readiness for higher education.
        </Feature>

        <Feature icon="mdi:book-open-page-variant" title="">
          <a href=/university style="text-decoration:none"><h3>University</h3></a>
          Our university tutoring is heavily specialized, offering 1-on-1 instruction tailored to specific courses and fields of study. Work directly with experts who provide in-depth guidance, ensuring you excel in your academic journey and achieve your goals.


        </Feature>


      </div>
    </div>
  </section>

  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>Prestigious Tutors</h2>
    <p class="text-2xl">
      At Gifted Center, we understand the unique needs of every child, which is why we have a carefully selected team of prestigious tutors. 
      
       Our tutors come from elite academic backgrounds, with advanced degrees from renowned institutions, and many have extensive experience working with accelerated learners.
   </p>
  </ContentMedia>

  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={false}>
    <h2>Experts in respective Fields</h2>
    <p class="text-2xl">
      Each of our tutors is not only an expert in their respective fields but also has a deep understanding of how to nurture the potential of highly capable students.
      Through personalized teaching strategies, our prestigious tutors help students excel in their studies, while encouraging creativity, critical thinking, and a love for learning. Whether your child is preparing for competitive academic programs or simply seeking a more challenging curriculum, our tutors provide the guidance and support needed to thrive. 

    </p>
  </ContentMedia>
  <section class="mb-32 mt-64">
    <div class="container">
      
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="1" title="Tutors" sub="" />
        <Counter count="50+" title="Courses" sub="covered" />
        <Counter count="100" title="Satisfication" sub="Rate" />
        <Counter count={monthsPassed} title="Months" sub="Since launch" />
      </div>
    </div>
  </section>
  <h1 id="contact"> </h1>
</DefaultLayout>

