---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
const monthsPassed = new Date().getFullYear() * 12 + new Date().getMonth() - (2024 * 12 + 8);

---
<DefaultLayout title="Tutoring">

  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Unlock Your Potential</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">

        <Feature icon="mdi:tailwind" title="">
          <a href="/primary-school" style="text-decoration:none"><h3>Primary School</h3></a>
          Our primary school tutoring focuses on nurturing young, gifted minds with custom lessons designed to challenge and engage. We emphasize building strong academic foundations while encouraging creativity and intellectual curiosity.
        </Feature>

        <Feature icon="mdi:looks" title="">
          <a href="/college" style="text-decoration:none"><h3>Secondary School</h3></a>
          For secondary school students, we offer advanced instruction that supports both junior and senior levels. Junior students benefit from developing critical thinking skills and academic growth, while senior students receive expert pre-university guidance, exam preparation, and assistance with competitive applications.
        </Feature>

        <Feature icon="mdi:book-open-page-variant" title="">
          <a href="/university" style="text-decoration:none"><h3>University</h3></a>
          Our university tutoring provides specialized, one-on-one instruction tailored to your specific courses and fields of study. Work closely with subject experts who offer comprehensive guidance to help you excel academically and achieve your goals.
        </Feature>

      </div>
    </div>
  </section>

  <ContentMedia imgSrc="/assets/image1.png" reverseImg={true}>
    <h2>Prestigious Tutors</h2>
    <p class="text-2xl">
      At Gifted Center, our tutors are distinguished professionals known for their academic excellence. Each tutor brings a wealth of experience in their field coupled with a passion for teaching and providing personalized support. Whether you aim to master a particular subject or enhance your overall academic performance, our esteemed tutors are dedicated to helping you reach your full potential.
    </p>
  </ContentMedia>

  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={false}>
    <h2>Experts in Their Fields</h2>
    <p class="text-2xl">
      Our tutors are not only experts in their respective disciplines but also adept at unlocking the potential of highly capable students. Through personalized teaching strategies, they support students in excelling academically while fostering creativity, critical thinking, and a passion for learning. Whether preparing for competitive programs or seeking a more challenging curriculum, our tutors provide the necessary guidance and encouragement to help students thrive.
    </p>
  </ContentMedia>

  <h1 id="contact"></h1>
</DefaultLayout>


