---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
const monthsPassed = new Date().getFullYear() * 12 + new Date().getMonth() - (2024 * 12 + 8);

---
<DefaultLayout title="Tutoring">
  
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Unlock your potential</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind"  title="">
          <a href=/primary-school style="text-decoration:none"><h3>Primary School</h3></a>
         Use the power of Tailwind to greatly improve your productivity and enhance your developer workflow.
        </Feature>
 
        <Feature icon="mdi:looks" title="">
          <a href=/college style="text-decoration:none"><h3>Secondary School</h3></a>
          Less worry about formatting your code, let the Astro Prettier integration do the heavy lifting.
        </Feature>
        <Feature icon="mdi:eslint" title="">
          <a href=/college style="text-decoration:none"><h3>College</h3></a>
          Lint your code with strict a11y settings to ensure you stay on track with the WCAG standards.
        </Feature>
        <Feature icon="mdi:book-open-page-variant" title="">
          <a href=/university style="text-decoration:none"><h3>University</h3></a>
          This theme comes with a fully integrated blog, dynamic pages and SEO optimization.
        </Feature>
        <Feature icon="mdi:language-markdown" title="">
          <a href=/primary-school style="text-decoration:none"><h3>Math</h3></a>
          Easily use .md and .mdx pages to build your websites or use it with Netlify CMS.
        </Feature>
        <Feature icon="mdi:theme-light-dark" title="">
          <a href=/primary-school style="text-decoration:none"><h3>Science</h3></a>
          Fully integrated Dark mode gives your users the choice for their favorite viewing mode.
        </Feature>
        <Feature icon="mdi:cog" title="">
          <a href=/primary-school style="text-decoration:none"><h3>Engineering</h3></a>
          The theme offers some very handy utilities to help you build your website faster.
        </Feature>
        <Feature icon="mdi:cog" title="">
          <a href=/primary-school style="text-decoration:none"><h3>Humanities</h3></a>
          The theme offers some very handy utilities to help you build your website faster.
        </Feature>
        <Feature icon="mdi:cog" title="">
          <a href=/primary-school style="text-decoration:none"><h3>Pre-Med</h3></a>
          The theme offers some very handy utilities to help you build your website faster.
        </Feature>
        <Feature icon="mdi:cog" title="">
          <a href=/primary-school style="text-decoration:none"><h3>Pre-Law</h3></a>
          The theme offers some very handy utilities to help you build your website faster.
        </Feature>
        <Feature icon="mdi:cog" title="">
          <a href=/primary-school style="text-decoration:none"><h3>Computer Science</h3></a>
          The theme offers some very handy utilities to help you build your website faster.
        </Feature>
        <Feature icon="mdi:lighthouse" title="Everything Else">
          <a href=#contact>Contact us</a> in order to inquire about anything else you are curious about! 
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Trusted Reputation</h2>
    <p class="text-2xl">
      This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a
      lot of others are integrated using a <a href="https://github.com/markteekman/accessible-astro-components"
        >separate package</a
      >. They'll get you up and running in building an accessible solution for your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>Prestigious Tutors</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia>
  <section class="mb-32 mt-64">
    <div class="container">
      
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="2" title="Tutors" sub="" />
        <Counter count="50+" title="Courses" sub="covered" />
        <Counter count="100" title="Satisfication" sub="Rate" />
        <Counter count={monthsPassed} title="Months" sub="Since launch" />
      </div>
    </div>
  </section>
  <h1 id="contact"> </h1>
</DefaultLayout>

