---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} -  <a href="https://giftedcenter.org/"> Gifted Center</a>.
         <a href="/about">About Us</a>.
        <a href="/contact">Contact Us</a>.
        <a href="/privacy">Privacy Policy</a>.
        <a href="/terms">Terms of Service</a>. 
        <a href="https://github.com/giftedcenter/astro-page">Github </a>.
      </p>
    </div>
  </section>
</footer>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "LocalBusiness",
        "name": "Gifted Center Toronto",
        "description": "Gifted Center tutoring location in Toronto.",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "14 Gulliver Rd",
          "addressLocality": "Toronto",
          "addressRegion": "ON",
          "postalCode": "M6M 2M7",
          "addressCountry": "CA"
        },
        "telephone": "+1-647-987-2869",
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "43.702658",
          "longitude": "-79.487717"
        },
        "url": "https://giftedcenter.org/toronto",
        "sameAs": [
          "https://facebook.com/giftedtutoring",
          "https://twitter.com/giftedtutoring",
          "https://linkedin.com/company/giftedcenter",
          "https://instagram.com/giftedcenter"
        ]
      },
      {
        "@type": "LocalBusiness",
        "name": "Gifted Center Peterborough",
        "description": "Gifted Center tutoring location in Peterborough.",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "350 Aylmer St N",
          "addressLocality": "Peterborough",
          "addressRegion": "ON",
          "postalCode": "K9H 3V6",
          "addressCountry": "CA"
        },
        "telephone": "+1-647-987-2869",
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "44.306445",
          "longitude": "-78.320396"
        },
        "url": "https://giftedcenter.org/peterborough"
      },
      {
        "@type": "LocalBusiness",
        "name": "Gifted Center Brampton",
        "description": "Gifted Center tutoring location in Brampton.",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "18 Elmvale Ave",
          "addressLocality": "Brampton",
          "addressRegion": "ON",
          "postalCode": "L6Z 1A5",
          "addressCountry": "CA"
        },
        "telephone": "+1-647-987-2869",
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "43.738418",
          "longitude": "-79.813986"
        },
        "url": "https://giftedcenter.org/brampton"
      },
      {
        "@type": "LocalBusiness",
        "name": "Gifted Center Hamilton",
        "description": "Gifted Center tutoring location in Hamilton.",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "25 Main St W",
          "addressLocality": "Hamilton",
          "addressRegion": "ON",
          "postalCode": "L8P 1H6",
          "addressCountry": "CA"
        },
        "telephone": "+1-647-987-2869",
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "43.256817",
          "longitude": "-79.872702"
        },
        "url": "https://giftedcenter.org/hamilton"
      },
      {
        "@type": "LocalBusiness",
        "name": "Gifted Center Scarborough",
        "description": "Gifted Center tutoring location in Scarborough.",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "35 Confederation Dr",
          "addressLocality": "Scarborough",
          "addressRegion": "ON",
          "postalCode": "M1G 1A2",
          "addressCountry": "CA"
        },
        "telephone": "+1-647-987-2869",
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "43.754502",
          "longitude": "-79.227605"
        },
        "url": "https://giftedcenter.org/scarborough"
      },
      {
        "@type": "LocalBusiness",
        "name": "Gifted Center Ottawa",
        "description": "Gifted Center tutoring location in Ottawa.",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "407 Phoenix Crescent",
          "addressLocality": "Orléans",
          "addressRegion": "ON",
          "postalCode": "K1E 1V6",
          "addressCountry": "CA"
        },
        "telephone": "+1-647-987-2869",
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "45.473497",
          "longitude": "-75.490315"
        },
        "url": "https://giftedcenter.org/ottawa"
      }
    ]
  }
  </script>