---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} -  <a href="https://giftedcenter.org/"> Gifted Center</a>. <a href="https://github.com/giftedcenter/astro-page">Github </a>
      </p>
    </div>
  </section>
</footer>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "Gifted Center",
    "description": "Top-tier academic tutoring services in Ontario and Canada.",
    "address": {
    "@type": "PostalAddress",
    "streetAddress": "1550 Lawrence Ave W",
    "addressLocality": "North York",
    "addressRegion": "ON",
    "postalCode": "M6L 1B8",
    "addressCountry": "Canada"
  },
    "telephone": "+1-647-987-2869",
    "areaServed": "Ontario, Canada",
    "url": "https://giftedcenter.org"
  }
  </script>