---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} -  <a href="https://giftedcenter.org/"> Gifted Center</a>.
         <a href="/about">About Us</a>.
        <a href="/contact">Contact Us</a>.
        <a href="/privacy">Privacy Policy</a>.
        <a href="/terms">Terms of Service</a>. 
        <a href="https://github.com/giftedcenter/astro-page">Github </a>.
      </p>
    </div>
  </section>
</footer>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "Gifted Center",
    "description": "Top-tier academic tutoring services in Ontario and Canada.",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "1550 Lawrence Ave W",
      "addressLocality": "North York",
      "addressRegion": "ON",
      "postalCode": "M6L 1B8",
      "addressCountry": "CA"
    },
    "telephone": "+1-647-987-2869",
    "areaServed": [
      {
        "@type": "City",
        "name": "Ottawa",
        "sameAs": "https://en.wikipedia.org/wiki/Ottawa"
      },
      {
        "@type": "City",
        "name": "Toronto",
        "sameAs": "https://en.wikipedia.org/wiki/Toronto"
      }
    ],
    "url": "https://giftedcenter.org",
    "geo": {
    "@type": "GeoCoordinates",
    "latitude": "43.722708",
    "longitude": "-79.490816"
  },
    "email": "tutoring@giftedcenter.org",

    "sameAs": [
    "https://facebook.com/giftedtutoring",
    "https://twitter.com/giftedtutoring",
    "https://linkedin.com/company/giftedcenter",
    "https://instagram.com/giftedcenter"
  ]

  }
  
  </script>